:host {
  width: 100%;
}

.component-wrapper {
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  box-shadow: 0 5px 6px #ccc;
  margin: 10px;
  padding: 0;
}

.panel {
  &:nth-child(1) {
    border-right: solid 1px #dddedd;
  }

  &__infected {
    background-color: #e5205033;
  }

  &__recovered {
    background-color: #09d49e33;
  }
}

.wrapper-infected {
  height: 100%;
  padding: 0 1px 0 0;
}

.wrapper-recovered {
  height: 100%;
  padding: 0 0 0 1px;
}

.dot-container {
  align-items: center;
  display: flex;
  justify-content: center;

  .dot {
    border-radius: 0;
    display: inline-block;
    height: 16px;
    width: 4px;

    &__infected {
      background-color: #e52050;
    }

    &__recovered {
      background-color: #09d49e;
    }
  }
}

.label {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;

  &--small {
    color: #8e8e93;
    display: contents;
    text-transform: none;
    vertical-align: bottom;
  }

  &--medium {
    font-size: 14px;
  }
}
