ion-card {
  border-radius: 13px;
}

ion-card-title {
  color: #2c363f;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 8px;
}

ion-card-header {
  border-bottom: solid 1px #f1f1f1;
}

span {
  color: #a8a8a8;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 8px;

  &:nth-of-type(1) {
    font-weight: bold;
    margin-left: 0;
  }
}

ion-card-content {
  color: #2c363f;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}

.read-more {
  margin-bottom: 20px;
  margin-right: 10px;
}
