.button-atrape-space {
  width: 65px;
}

ion-tab-button {
    ion-icon {
      font-size: 22px;
    }

    &.tab-selected {
      ion-icon {
        filter: brightness(0%)
      }
    }

    ion-label {
      text-transform: capitalize;
    }
}