<div>
  <ion-tabs>
    <ion-tab-bar slot="bottom" selectedTab="black">
      <ion-tab-button tab="app-main">
        <ion-icon src="assets/svg/tabs/home.svg"></ion-icon>
        <ion-label>home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="news">
        <ion-icon src="assets/svg/tabs/news.svg"></ion-icon>
        <ion-label>wiadomości</ion-label>
      </ion-tab-button>

      <span class="button-atrape-space"></span>

      <ion-tab-button tab="map">
        <ion-icon src="assets/svg/tabs/map.svg"></ion-icon>
        <ion-label>mapa</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon src="assets/svg/tabs/settings.svg"></ion-icon>
        <ion-label>ustawienia</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <medy-action-button class="floating-button"></medy-action-button>
</div>
