ion-icon {
    font-size:33px;
}

ion-card {
    box-shadow: none;
    border-radius: 13px;
    background: rgba(37, 211, 159, 0.1);
}

ion-card-title {
    font-size: 16px;
}

ion-card-subtitle {
    color: #7e9f95 !important;
    font-size: 12px;
}