ion-icon {
  font-size: 33px;
}

ion-card {
  background: rgba(37, 211, 159, .1);
  border-radius: 13px;
  box-shadow: none;
}

ion-card-title {
  font-size: 16px;
}

ion-card-subtitle {
  color: #7e9f95 !important;
  font-size: 12px;
}
