:host {
  width: 100%;
}

.panel {
  &:nth-child(1) {
    border-right: solid 1px #dddedd;
  }

  &__infected {
    background-color: #eb434333;
  }

  &__recovered {
    background-color: #25d39f33;
  }
}

.dot-container {
  align-items: center;
  display: flex;
  justify-content: center;

  .dot {
    border-radius: 0;
    display: inline-block;
    height: 16px;
    width: 4px;

    &__infected {
      background-color: #eb4343;
    }

    &__recovered {
      background-color: #25d39f;
    }
  }
}

.label {
  color: #8e8e93;
  font-size: 10px;
  font-weight: normal;
  text-transform: uppercase;
  white-space: nowrap;

  &--small {
    display: contents;
    text-transform: none;
    vertical-align: bottom;
  }

  &--medium {
    font-size: 14px;
  }
}

.global-stat {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  white-space: nowrap;

  &--small {
    display: contents;
    text-transform: none;
    vertical-align: bottom;
  }
}

.more {
  color: black;
}

ion-skeleton-text {
  margin-right: 3px;
  width: 60%;
}
