$white: #fff;

$gray-light: #b5b5b5;
$gray-light2: #fbfbfb;
$gray-light3: #f2f2f2;
$gray-light4: #dddddd;
$gray-light5: #fbfbfd;
$gray-light6: #fafafa;

$dark: #000;

$primary: #25D39F;
$primary2: #25D39F;


$hr-color: #F2F2F2;

