<ion-fab vertical="bottom" class="main-fab-button">
  <ion-fab-button color="primary">
    <ion-icon class="action-button action-button__big" src="assets/svg/logo.svg"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <div class="action-list-wrapper">
      <ion-grid class="ion-align-items-end">
        <ion-row>
          <ion-fab-button color="secondary">
            <ion-icon src="assets/svg/plyn.svg"></ion-icon>
          </ion-fab-button>
          <span class="action">I washed my hands</span>
          <span class="points">+ 6 PP</span>
        </ion-row>
        <ion-row>
          <ion-fab-button color="secondary">
            <ion-icon src="assets/svg/hands-w.svg"></ion-icon>
          </ion-fab-button>
          <span class="action">I disinfected my hands</span>
          <span class="points">+ 3 PP</span>
        </ion-row>
        <ion-row>
          <ion-fab-button color="secondary">
            <ion-icon src="assets/svg/phone.svg" color="secondary"></ion-icon>
          </ion-fab-button>
          <span class="action">I disinfected my mobile</span>
          <span class="points">+ 3 PP</span>
        </ion-row>
      </ion-grid>
    </div>
    <div class="blurred-top"></div>
  
  </ion-fab-list>
</ion-fab>