<div>
    <ion-card class="stats-card">
        <ion-grid>
            <ion-row class="ion-justify-content-between">
                <ion-col size="7">
                    <ion-card-header>
                        <ion-card-title>
                            <div>My plan of</div>
                            <div>Prevention</div>
                        </ion-card-title>
                        <ion-card-subtitle>Completed tasks 1 of 3</ion-card-subtitle>
                    </ion-card-header>
                </ion-col>
                <ion-col size="4" class="ion-margin-end points-wrapper__shift">
                    <medy-prevention-points-counter counter="109"></medy-prevention-points-counter>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="caption ion-align-self-center">Click to see the progress</ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <div class="background-wrapper">
        <ion-card class="background-card-one"></ion-card>
        <ion-card class="background-card-two"></ion-card>
    </div>
</div>